.content_wrapper .table_wrapper {
  background-color: #060B28F0;
  border-radius: 8px;
  padding: 25px;
  overflow: hidden;
}

/* Even rows */
.content_wrapper .table tbody tr:nth-child(odd) td {
  background-color: #171b35;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  padding-block: 20px;
  border: 1px solid #eeeeee11;
}

/* Odd rows */
.content_wrapper .table tbody tr:nth-child(even) td,
.content_wrapper .table thead th {
  background-color: #0b102a;
  padding-block: 20px;
  white-space: nowrap;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eeeeee11;
}

.content_wrapper .table b {
  white-space: nowrap;
}

.content_wrapper .table span {
  display: block;
  margin-bottom: 6px;
}

.table-responsive::-webkit-scrollbar {
  width: 1px;
  height: 8px;
}

.table-responsive::-webkit-scrollbar-track {
  background: #42A5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #8d95d3;
  border-radius: 20px;
  border: 1px solid #0b102a;
}

.table_form button {
  font-size: small;
  color: var(--basic-color);
  margin-inline: 3px;
  margin-top: 45px;
}

.table_form button:hover {
  color: var(--basic-color);
}

.table_form button.show_result {
  background: var(--btn1-color);
}

.table_form button.show_all {
  background: var(--btn2-color);
}

.table_form label,
.table_form select {
  font-size: 13px;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}
.pagination .page-link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    font-size: 14px;
    margin-inline: 2px !important;
    background-color: var(--main-color);
    border: 1px solid #dee2e659;
}
.pagination .page-item.disabled .page-link {background-color: #171B35;border: 1px solid #dee2e659;color: var(--text-lighter);}