.div-bg {
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}
 h5.stat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: var(--text-lighter);
    margin-bottom: 30px;
}
.div-bg select {
        background-color: var(--main-color);
    width: 90px;
    font-size: 12px;
    padding: 6px 10px;
    border-color: #eeeeee33;
}
.div-bg select:focus {outline: none;}

/* main content */
.stat_card {
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
  background-color: var(--main-color);
}

.stat_card img {
  width: auto;
  max-height: 40px;
  margin-top: 6px;
}

.stat_card .icon {
  background-color: #0D6EFD1A;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  font-size: small;
}

.stat_card h5 {
  margin-block: 10px;
}

.stat_card h5,
.stat_card b {
  white-space: nowrap;
  color: var(--text-lighter);
}

.stat_card b {
  font-size: small;
  display: block;
  margin-top: 4px;
}
/* charts */
.canvasjs-chart-credit {display: none;}
.canvasjs-chart-tooltip {
  direction: rtl !important;
  unicode-bidi: embed;
  font-family: 'Montserrat',sans-serif !important;
}
.recharts-label-list text {fill: none;}
.recharts-cartesian-axis-tick-value {font-size: 13px;}
.recharts-legend-item-text {font-size: 13px;}
.recharts-surface {margin-left: 4px;margin-right: 0;}
/* stats */
.stats li:nth-child(1) i {color: var(--text-color);}
.stats li:nth-child(2) i {color: #FF964C;}
.stats li:nth-child(3) i {color: #17AD37;}
.stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 6px;
  font-size: 12px;
  color: var(--text-lighter);
}
.map-ul {margin-top: 120px;}
.map-ul li:nth-child(1) i {color: gold;}
.map-ul li:nth-child(2) i {color: var(--text-color);}
.map-ul li:nth-child(3) i {color: var(--highlight-color);}
.map-ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 6px;
  font-size: 12px;
  color: var(--text-lighter);
}
.providers_on_map h5 {font-size: 17px;margin-bottom: 0;margin-top: 10px;}
.providers_on_map .input-div ,.providers_on_map select {
  width: 100%;
  display: block;
  background-color: #eeeeee0d;
  border:1px solid #eeeeee20;
  margin-bottom: 12px;
  border-radius: 5px;
  height: 40px;
  font-size: 12px;
  padding-inline: 8px;
  color: var(--text-lighter);
}
.providers_on_map input {
    background: transparent;
    width: 92%;
    margin-right: 25px;
    margin-top: 11px;
    border: none;
}
.providers_on_map .input-div span {color: #eeeeee45;}
.providers_on_map .input-div input {color: var(--basic-color);}
.providers_on_map .input-div {position: relative;}
.providers_on_map .input-group-text {background: transparent;}
.providers_on_map input:focus ,.providers_on_map select:focus {
  outline: none;
}
.providers_on_map input::placeholder {color: #eeeeee45;font-size: 13px;}
.providers_on_map .map {
  background-image: url('../../../public/img/map.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px;
}
.providers_on_map img {border-radius: 10px;}
/* circle chart */
.circle_chart {
  margin-top: 25px;
  border: 1px solid #303652;
  border-radius: 5px;
  padding: 13px;
}
.circle_chart b {font-size: 11px;}
.circle_chart b,.circle_chart h5{white-space: nowrap;margin-block: 4px;margin-right: 10px;}
.chart-text {
  display: flex;
  align-items: center;
  border-right: 1px solid #eeeeee26;
  padding-inline: 2px;
}
.chart-text {
  font: 16px/1.4em "Montserrat", sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-label {
  font-size: 0.35em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.donut-segment {
  animation: dash 1s linear forwards; 
}


@keyframes dash {
  to {
    stroke-dashoffset: -75;
  }
}

@media(max-width:768px) {
  .providers_on_map .input-div {
      position: relative;
      display: flex;
      align-items: center;
    }
    .providers_on_map .input-div input {margin-top: 0;}

}
@media(max-width:990px) {
  .chart-text {margin-block: 10px;border: none;}
}